doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet" href="/css/main.css")

    block styles
  body 
    header 
      nav 
        ul.users-list 
          li 
            a(href="/" class=(path === '/' ? 'active': '')) Home
          li 
            a(href="/users" class=(path === '/users' ? 'active': '')) Users
    block content 
