extends ../layouts/main-layout

block content
  main.center
    h1 #{product.title}
    hr
    div 
      img(src=(product.imageUrl), alt=(product.title) width="300")
    h2 Price $#{product.price}
    p #{product.description}
    include ../includes/addToCart