extends ../layouts/main-layout.pug

block styles 
  link(rel="stylesheet" href="/css/product.css")

block content 
  main
    if prods.length > 0
      .grid
        each product in prods
          article.card.product-item
            header.card__header 
              h1.product_title #{product.title}
            .card__image 
              img(src=(product.imageUrl) alt="Great Book")
            .card__content 
              h2.product__price $#{product.price}
              p.product__description #{product.description}
            .card__actions 
              form(action="/add-to-cart" method="post") 
                button.btn(type="submit") Add to Cart
    else 
      h1 No Products