<main>
  <div class='grid'>
    {{#if hasProducts}}
      {{#each prods}}
        <article class='card product-item'>
          <header class='card__header'>
            <h1 class='card__title'>{{this.title}}</h1>
          </header>
          <div class='card__image'>
            <img src='/img/book.jpg' alt='Great Book' />
          </div>
          <div class='card__content'>
            <h2 class='product__price'>$19.99</h2>
            <p class='product__description'>Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Illo, magnam.</p>
          </div>
          <div class='card__actions'>
            <button class='btn'>Add to Cart</button>
          </div>
        </article>
      {{/each}}
    {{else}}
      <h1>No Products Found</h1>
    {{/if}}
  </div>
</main>